/* NAV */
div.nav-wrapper, .nav-mobile{
	background-color: #74e3ec;
	font-family: 'Indie Flower', cursive;
	padding: 0 5% 0 5%;
	font-size: 25px;
}

.z-depth-0 {
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

/* BODY */
body{
	background: #74e3ec;
	background: -webkit-linear-gradient(top,#74e3ec,#c7ffe2);
	background: -o-linear-gradient(top,#74e3ec,#c7ffe2);
	background: -moz-linear-gradient(top,#74e3ec,#c7ffe2);
	background: linear-gradient(to bottom, #74e3ec, #c7ffe2);
	margin: 0%;
}

.headline{
	margin: 0%;
	font-family: 'Architects Daughter', cursive;
	color:white;
}

.headlineBot{
	color:#00e676;
	margin: 0%;
	font-family: 'Architects Daughter', cursive;
	color:#1b5e20;
	font-size: 2em;
}

img{
	width:42%;
	height: 42%;
	padding: 6% 0 0 0;
}

.imagesDiv{
	text-align: center;
	padding: 10% 0 0 0;
}

.question{
	font-size: 1.5em;
}

#price{
	font-size: 1.5em;
}

button{
	background-color: green;
	border: none;
	color: white !important;
	padding: 1% 3% 1% 3%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 374px) {
	img{
		height:100%;
		width:100%;
	}
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
	img{
		height:100%;
		width:100%;
	}
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
	img{
		height:100%;
		width:100%;
	}
}
